---
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>我的 Astro 站点</h1>
    <p>我正在测试项目，什么情况，为何上不去呢？</p>
    <img src="https://savvyrubber.com/wp-content/uploads/2022/03/factory.jpg" alt="Astro Logo" width="200" />
  </body>
</html>